<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.ast-below-header-bar {
	background-color:white;
	background-position:26%;

	
}

.main-header-menu .menu-link {
	padding: 0 0.3em;
}</style>
<!-- end Simple Custom CSS and JS -->
