<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.widgettitle:before{
 font-family: "FontAwesome";
 content:"\f005";
 margin-right: 10px;
}
</style>
<!-- end Simple Custom CSS and JS -->
